@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sedgwick: var(--font-sedgwick);
  --font-roboto: var(--font-roboto);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto), Arial, Helvetica, sans-serif;
}

/* Utility classes per i font */
.font-sedgwick {
  font-family: var(--font-sedgwick), cursive;
}

.font-roboto {
  font-family: var(--font-roboto), Arial, Helvetica, sans-serif;
}
